<div class='box'>
  LET'S BATTLE
  {{! make this handlebar call the js and then js variable that's empty called "strengthCharacter" have a for loop that runs through all the characters in the heroes js and if any hero has a more than 80 strength then push that character in the empty strengthCharacter array.. make a list that is as long as the strengthCharacter array displaying the image of the characters in the array}}
</div>
<script src='../public/js/battle.js'></script>