<div class='columns battle'>
  <div class='column'>
    <figure class='hero1'>
      <img 
        src='https://www.superherodb.com/pictures2/portraits/10/100/137.jpg'
        alt='Placeholder image'
      />
      <p>Hero name</p>
      <p>Hero Stats</p>
    </figure>
  </div>
  <div class='column'>
    <figure class='fightSim'>
      <p>Let's BATTLE!</p>
    </figure>
  </div>
  <div class='column'>
    <figure class='hero2'>
      <img 
        src='https://www.superherodb.com/pictures2/portraits/10/100/1536.jpg'
        alt='Placeholder image'
      />
      <p>Hero name</p>
      <p>Hero Stats</p>
    </figure>

{{!-- <script src='../public/js/heroes.js'></script>
{{heroes.image}} --}}
