<div class='navbar'>
  <button class='button glow nav-btn' id='back-btn'>Back To Teampage</button>
</div>
<div class='columns is-half highscorepage'>
  <div class='column'>
    <p class='highscoretitle'>VIEW HIGHSCORES!</p>
    <div class='scorecard'>
      <p class='title'></p>
      <p>Coming soon!</p>
    </div>
  </div>
</div>

<script src='/js/highscores.js'></script>