<div
  class='block is-flex is-flex-direction-column is-justify-content-center is-align-items-center homepage'
>
  <div class='homepageTop'>
    <h1 class='homepageTitle'>
    Welcome to the Hero Battle Simulator!
    </h1>
  </div>
 

  <article class='is-dark'>
    <div class='has-text-centered intro'>
      Log-in or create a new account to begin assembling your very own squad of superheroes. Use your squad to fight battles against other heroes and villains!
    </div>
  </article>

  <form class='box is-half login' id='login-form'>
    <div class='field'>
      <label class='inputTitle'>Email</label>
      <div class='control'>
        <input
          class='input'
          id='email-login'
          type='email'
          placeholder='e.g. alex@example.com'
        />
      </div>
    </div>

    <div class='field'>
      <label class='inputTitle'>Password</label>
      <div class='control'>
        <input
          class='input'
          id='password-login'
          type='password'
          placeholder='********'
        />
      </div>
    </div>

    <button class='is-primary signIn'>Sign in</button>
  </form>

  <button class='createAccount' id='new-user-button'>New here? Create an
    account!</button>

</div>

<script src='/js/login.js'></script>