<div
  class='block is-flex is-flex-direction-column is-justify-content-center is-align-items-center homepage'
>

<div class='pageTop'>
    <h1 class='pageTitle'>
    Create your new account!
    </h1>
  </div>

  <form class='box inputBox'>
    <div class='field'>
      <label class='label inputTitle'>Name</label>
      <div class='control'>
        <input
          class='input'
          id='name-signup'
          type='name'
          placeholder='Your name here'
        />
      </div>
    </div>

    <div class='field'>
      <label class='label inputTitle'>Email</label>
      <div class='control'>
        <input
          class='input'
          id='email-signup'
          type='email'
          placeholder='e.g. alex@example.com'
        />
      </div>
    </div>

    <div class='field'>
      <label class='label inputTitle'>Password</label>
      <div class='control'>
        <input
          class='input'
          id='password-signup'
          type='password'
          placeholder='********'
        />
      </div>
    </div>

    <button class='createAccountBtn' id='user-submit'>Create Account</button>
    <button class='backBtn' id='home'>Back to Sign-In</button>
  </form>
</div>

<script src='/js/newuser.js'></script>