<div class='tile is-ancestor'>
  <div class='tile is-4 is-vertical is-parent'>
    <div class='tile is-child box'>
      <p class='title'>Your current squad</p>
      {{! cards with current squad sourced from db }}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
        magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
        sem. Etiam finibus odio quis feugiat facilisis.</p>
    </div>
  </div>
  <div class='tile is-parent'>
    <div class='tile is-child box'>
      <p class='title'>Choose a new squad</p>
      <p>I want a squad with high...</p>
      <button class='button'>Strength</button>
      <button class='button'>Intelligence</button>
      <button class='button'>Speed</button>
    </div>
    <div class='tile is-child box'>
      <p class='title'>Squad choices go here</p>
      <p>Squad options go here</p>
    </div>
  </div>
</div>

<script src='/js/teambuilder.js'></script>