/* General Classes */

:root {
  --colorMain: rgb(230, 195, 2);
  --colorSec: rgb(170, 3, 3);
  --colorThi: rgb(255, 138, 5);

  --color4: rgb(122, 2, 2);
}

button:hover {
  color: var(--colorMain);
  border-color: var(--colorThi);
  border-style: solid;
  box-shadow: 0 0px 10px 3px white;
  cursor:pointer;
}

.pageTop {
  background-color: black;
  background: opacity(0.5);
  border-bottom: 2px solid var(--colorThi);
  width: 100%;
}

.pageTitle {
  text-align: center;
  font-size: xx-large;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: bolder;
  color: var(--colorMain);
}



/* Homepage classes*/

.homepage {
  background: linear-gradient(var(--colorSec), rgba(0, 0, 0, 0.75)), url(https://i.pinimg.com/originals/b7/fe/8e/b7fe8ef5c2d845b8725922b7873fd5f3.jpg);
  background-color: var(--colorSec);
  color: var(--colorMain);
}


.intro {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  margin-bottom: 7%;
  position: sticky;
}

.login {
  background-color: var(--color4);
  border-style: solid;
  border-color: var(--colorMain);
  box-shadow: 0 0px 24px 8px var(--colorThi);
  position: relative;
}

.inputTitle {
  color: var(--colorMain);
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bolder;
}

.signIn {
  color: var(--colorSec);
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
  padding: 0.5rem;
  background-color: var(--colorMain);
  border-radius: 20px;
  border-style: solid;
  border-color: var(--colorSec);
  position: relative;
  margin-top: 6%;
  left: 27%;
}

.createAccount {
  color: var(--colorMain);
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline;
  background-color: transparent;
  border-style: none;
  border-radius: 40px;
  padding: 0.5rem;
  margin-top: 5%;
  margin-bottom: 25%;
}



/* Teampage.handlebar Classes */

.teampage {
  font-family: sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.3), var(--colorSec)),
    url(https://images.hdqwalls.com/wallpapers/marvel-vs-dc-4k-iu.jpg)
      no-repeat;
  background-size: cover;
  background-position: center center;
}

.cardTitle {
  background-color: black;
  color: var(--colorSec);
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: 30%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2.5%;
  border-radius: 20px;
  box-shadow: 0 0px 14px 4px var(--colorMain);
}

.welcomeBack {
  color: black;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  text-shadow: -0.5px -0.5px var(--colorSec);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://i.imgur.com/DQlvWhz.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 40%;
  height: fit-content;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--colorThi);
  box-shadow: 0 0px 22px 6px white;
  position: relative;
}

.yourSquad {
  color: black;
  font-weight: bolder;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://i.imgur.com/DF0PwFA.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30%;
  height: fit-content;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--colorThi);
  box-shadow: 0 0px 22px 6px white;
}

.teampageButtons {
  color: var(--colorMain);
  background-color: var(--colorSec);
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.6rem;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--colorThi);
  position: relative;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
}



/* Battle.handlebar Classes */

.battle {
  font-family: sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://wallpaperaccess.com/full/2200156.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1.3;
}

.hero1 {
  color: white;
  font-weight: bolder;
  text-align: center;
  text-shadow: -1px -1px var(--colorMain);
  background: var(--colorSec);
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  width: 80%;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 45%;
  margin-bottom: 30%;
  height: 57%;
  border-radius: 30px;
  border-style: solid;
  border-color: var(--colorMain);
  box-shadow: 0 0px 26px 10px var(--colorSec);
  position: relative;
}

.hero2 {
  color: white;
  font-weight: bolder;
  text-align: center;
  text-shadow: -1px -1px var(--colorMain);
  background: var(--colorSec);
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  width: 80%;
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 45%;
  margin-bottom: 30%;
  height: 57%;
  border-radius: 30px;
  border-style: solid;
  border-color: var(--colorMain);
  box-shadow: 0 0px 26px 10px var(--colorSec);
}

.fightSim {
  color: white;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  background: black;
  opacity: 0.8;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 65%;
  margin-bottom: 30%;
  height: 35%;
  overflow: hidden;
  border-radius: 30px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--colorSec);
  box-shadow: 0 0px 26px 10px var(--colorMain);
}



/* teambuilder.handlebar classes*/
.navbar {
  background-color: black;
}

.nav-btn {
  background-color: black;
  color: white;
  border: black solid;
  padding: 10px;
  margin: 12px;
}

.current-hero {
  width: 50%;
}

.builder {
  background-color: black;
}

.current-hero {
  background: black;
}

.card-content {
  background-color: black;
}

.content {
  color: white;
  font-weight: bold;
  font-size: large;
}

.stat-btn {
  background-color: black;
  color: white;
  border: black solid;
  padding: 10px;
  margin: 10%;
}

.hero-text {
  color: white;
  font-weight: bold;
}

.title {
  color: var(--colorSec);
  font-size: 3em;
  font-weight: bolder;
}

.glow {
  box-shadow: 0 0px 26px 10px var(--colorSec);
}

.hero-button {
  display: flex;
  justify-content: center;
}

.card-background {
  background-color: black;
}

/* Highscores*/
.highscorepage {
  font-family: sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/jerrick/image/upload/c_crop,fl_progressive,h_630,q_auto,w_1200/tp64slnajmiq499b2et5.jpg)
      no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1.3;
}

.scorecard {
  color: black;
  font-weight: bolder;
  text-shadow: -0.5px -0.5px var(--colorSec);
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(https://cdn11.bigcommerce.com/s-0kvv9/images/stencil/1280x1280/products/275357/384798/aug180948__31281.1539811934.jpg?c=2&imbypass=on)
      no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  width: 30%;
  margin-left: 35%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 30%;
  height: 50%;
  border-radius: 20px;
  border-style: solid;
  border-color: var(--colorSec);
  box-shadow: 0 0px 22px 3px white;
  position: relative;
}

.highscoretitle {
  padding: 1em;
  margin-right: 35%;
  margin-left: 30%;
}
